.container {
    justify-content: center;
    display: flex;
    width: max-content;
    height: max-content;
}

.square {
    margin: 10px;
    border: 1px solid transparent;
    text-align: center;

    background: white;

    transition: all 0.3s ease;
}

.square:hover {
    transform: scale(1.1);
}

#canvas {
    position: absolute;
}

.line-node-layout {
    position: absolute;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;

    color: transparent;
    font-size: 40px;
    font-weight: bold;
    font-family: "微軟正黑體";

    border-radius: 10%;

    transition: all 0.3s ease;
}

.line-node-layout:hover {
    backdrop-filter: blur(4px);
    background-color: #faebd780;
    border: 2px solid black;
    color: black;
}

.hanzi-grid-layout {
    position: absolute;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;

    color: black;
    font-size: 100px;
    font-family: "KaiTi";

    border-radius: 10%;

    transition: all 0.3s ease;
}

.text {
    height: inherit;
}
