.iconicCircleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--citrine-white);
    background-image: url( "./../../assets/images/along-the-river-during-qingming-festival.svg" );
    padding: 20px 0;
}

.iconicCircleContainer img {
    --width: 42vw;
    width: var(--width);
    height: calc(var(--width) / 2);
    margin: calc(var(--width) / -20) auto;
}

.chiTextContainer, .engTextContainer {    
    text-align: center;
    margin: 0 auto;
    width: 48vw;
}

.engTextContainer {
    background-color: var(--persian-red);
}

.chiText {
    font-weight: bolder;
    font-family: "KaiTi";

    @media only screen and (width >= 1470px) {
        font-size: 70px;
    }
    @media only screen and (width >= 1060px) and (width < 1470px) {
        font-size: 50px;
    }
    @media only screen and (width >= 755px) and (width < 1060px) {
        font-size: 36px;
    }
    @media only screen and (width >= 425px) and (width < 755px) {
        font-size: 20px;
    }
    @media only screen and (width < 425px) {
        font-size: 14px;
    }
}

.engText {
    color: white;
    font-family: "antropos";

    @media only screen and (width >= 1500px) {
        font-size: 30px;
        padding: 10px;
    }
    @media only screen and (width >= 1210px) and (width < 1500px) {
        font-size: 24px;
        padding: 8px;
    }
    @media only screen and (width >= 920px) and (width < 1210px) {
        font-size: 18px;
        padding: 6px;
    }
    @media only screen and (width >= 600px) and (width < 920px) {
        font-size: 12px;
        padding: 4px;
    }
    @media only screen and (width >= 0px) and (width < 600px) {
        font-size: 6px;
        padding: 2px;
    }
}