.container {
    padding: 1rem .5rem;
    justify-content: center;
}

.content {
    padding: 4rem 0 0 0;
    width: 100%;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}
