.header {
    display: flex;
    flex-direction: column;
    height: var(--header-height);
    background-color: var(--brown);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25),
        0px 2px 2px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    color: white;
    z-index: 10;

    .header-container {
        height: var(--header-height);
    }
    
    .header-button {
        margin-left: auto;
        padding: 0 10px;
        display: flex;
        text-align: center;
        font-size: large;
        border: 2px solid transparent;
        border-radius: 5px;
    
        transition: 0.5s ease;
    }

    .header-button:hover {
        background-color: var(--persian-red);
        transform: scale(1.1);
    }
    
    .center-vertical {
        margin: auto 0;
    }
    
    path {
        stroke: none;
    }
    
    .whcei {
        width: 100px;
        text-align: center;
        font-family: antropos;
        font-size: 18px;
        margin: auto 0;
    }    

    .tool-container {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .lang-switch {
        border-radius: 20px;
        width: 48px;
        height: 27px;
        padding: 0px;

        &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-70%);
            width: 16px;
            height: 16px;
            color: black;
            font-family: "微軟正黑體";
            font-size: 10px;
            content: "EN";
            top: 18px;
            right: 3px;
        };

        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-70%);
            width: 16px;
            height: 16px;
            color: white;
            font-family: "微軟正黑體";
            font-size: 13px;
            content: "中";
            left: 7px;
            top: 16px;
        };
        
        & .MuiSwitch-switchBase {
            padding: 0px;
            margin: 3px 4px;
            transition-duration: 300ms;
        }

        & .MuiSwitch-track {
            background-color: white;
        }

        .Mui-checked {
            color: var(--brown);

            & + .MuiSwitch-track {
                background-color: black;
            }

            & .MuiSwitch-thumb::before {

                content: "EN";
                margin-left: 1px;
                top: 15px;
                font-size: 10px;
                color: white;
            }            
        }

        .MuiSwitch-thumb {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-70%);
                width: 16px;
                height: 16px;
                color: black;
                font-family: "微軟正黑體";
                font-weight: bold;
                content: "中";
                left: 2px;
            };
        }
    }

    .list-item {
        background-color: var(--off-black);
    }

    .current-pages {
        color: var(--primary-red);
        /* background-color: white;
        background-image: var(--matching-linear-reverse);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent; */
    }
}