.homeContainer {
    font-family: "微軟正黑體";
}

.contentContainer1 {
    background-color: var(--brown);
    background: linear-gradient(
        90deg,
        var(--pohutukawa) 0%,
        var(--brown) 23%,
        var(--persian-red) 51%,
        var(--brown) 77%,
        var(--pohutukawa) 100%
    );
    color: white;
}

.contentContainer2,
.contentContainer3,
.contentContainer4 {
    background-color: var(--citrine-white);
    margin: 0;
    padding: 50px 0;
}

.contentContainer2 {
    margin-left: -300px;
}

.contentContainer3 {
    margin-top: -200px;
    padding-left: 600px;
}

.galleryContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gallery {
    width: 50vw;
    font-size: 24px;
    text-align: center;
    z-index: 3;
}

.imagesContainer {
    padding: 40px 150px 30px 150px;
}

.defaultImage {
    width: 200px;
    height: auto;
    border-radius: 10px;
    
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12),
        2px 2px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.12),
        0px 8px 8px 0px rgba(0, 0, 0, 0.12);
}

svg {
    display: block;
}

.svgPrimary {
    fill: var(--citrine-white);
    stroke: var(--citrine-white);
    stroke-width: 5px;
}

.svgSecondary {
    fill: var(--persian-red);
}

img {
    z-index: 1;
}

.imgIronPagoda {
    scale: 1.95;
    margin: 50px -300px 0 -250px;
}

.imgBamboo {
    scale: -3 4.5;
    rotate: -25deg;
    margin: 0px 0px -600px 1300px;
}

.imgGate {
    scale: 2.5;
    margin: 300px 0 -650px -700px;
}

// .imgJunkVector {
//     margin: 0 -350px 0 -300px;
//     padding-top: 40px;
//     padding-left: 50px;
//     float: right;
// }

// .hanziBackground {
//     color: var(--pohutukawa);
//     // opacity: .5;
//     font-size: 500px;
//     font-family: HYZhuanShuF;
//     margin: -30px -400px -100px -120px;
// }

.linkButton {
    text-align: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

.linkButtonCircle {
    text-align: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

.circleButton {
    width: 150px;
    height: 150px;
    margin: -200px 0 0 0;
    position: relative;
    background-color: var(--intergalactic-ray);
    // background-color: var(--bravado-red);
    z-index: 5;
    border-radius: 200px;
}

.circleButton a {
    width: 120px;
    top: 0;
    color: white;
    transition:  .5s ease;
}

.circleButton a:after {
    top: 65px;
    right: 45%;
}

.circleButton:hover a {
    padding-right: 0px;
    top: -5px;
}

.circleButton:hover a:after {
    opacity: 1;
    top: 60px;
    right: 45%;
}

button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    font-style: italic;
    
    z-index: 10;
}

button a:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover a {
    padding-right: 25px;
}

button:hover a:after {
    opacity: 1;
    right: 0;
}
