@charset "UTF-8";
.homeContainer {
  font-family: "微軟正黑體";
  background-color: var(--citrine-white);
  display: flex;
  flex-direction: column;
}
.homeContainer .box,
.homeContainer .center-align-box,
.homeContainer .left-align-box,
.homeContainer .right-align-box {
  display: flex;
  flex-direction: column;
}
.homeContainer .box.vw100,
.homeContainer .center-align-box.vw100,
.homeContainer .left-align-box.vw100,
.homeContainer .right-align-box.vw100 {
  max-width: 100vw;
}
.homeContainer .box.vw70,
.homeContainer .center-align-box.vw70,
.homeContainer .left-align-box.vw70,
.homeContainer .right-align-box.vw70 {
  max-width: 70vw;
}
@media only screen and (width < 700px) {
  .homeContainer .box.vw70,
  .homeContainer .center-align-box.vw70,
  .homeContainer .left-align-box.vw70,
  .homeContainer .right-align-box.vw70 {
    max-width: 90vw;
  }
}
.homeContainer .box.vw50,
.homeContainer .center-align-box.vw50,
.homeContainer .left-align-box.vw50,
.homeContainer .right-align-box.vw50 {
  max-width: 50vw;
}
.homeContainer .box.fd-row,
.homeContainer .center-align-box.fd-row,
.homeContainer .left-align-box.fd-row,
.homeContainer .right-align-box.fd-row {
  flex-direction: row;
}
.homeContainer .box.fd-row-mobile-col_900,
.homeContainer .center-align-box.fd-row-mobile-col_900,
.homeContainer .left-align-box.fd-row-mobile-col_900,
.homeContainer .right-align-box.fd-row-mobile-col_900 {
  flex-direction: row;
}
@media only screen and (width < 900px) {
  .homeContainer .box.fd-row-mobile-col_900,
  .homeContainer .center-align-box.fd-row-mobile-col_900,
  .homeContainer .left-align-box.fd-row-mobile-col_900,
  .homeContainer .right-align-box.fd-row-mobile-col_900 {
    flex-direction: column;
  }
}
.homeContainer .box.fd-row-mobile-col_500,
.homeContainer .center-align-box.fd-row-mobile-col_500,
.homeContainer .left-align-box.fd-row-mobile-col_500,
.homeContainer .right-align-box.fd-row-mobile-col_500 {
  flex-direction: row;
}
@media only screen and (width < 500px) {
  .homeContainer .box.fd-row-mobile-col_500,
  .homeContainer .center-align-box.fd-row-mobile-col_500,
  .homeContainer .left-align-box.fd-row-mobile-col_500,
  .homeContainer .right-align-box.fd-row-mobile-col_500 {
    flex-direction: column;
  }
}
.homeContainer .box.fd-col,
.homeContainer .center-align-box.fd-col,
.homeContainer .left-align-box.fd-col,
.homeContainer .right-align-box.fd-col {
  flex-direction: column;
}
.homeContainer .box.fd-col-mobile-row_500,
.homeContainer .center-align-box.fd-col-mobile-row_500,
.homeContainer .left-align-box.fd-col-mobile-row_500,
.homeContainer .right-align-box.fd-col-mobile-row_500 {
  flex-direction: column;
}
@media only screen and (width < 500px) {
  .homeContainer .box.fd-col-mobile-row_500,
  .homeContainer .center-align-box.fd-col-mobile-row_500,
  .homeContainer .left-align-box.fd-col-mobile-row_500,
  .homeContainer .right-align-box.fd-col-mobile-row_500 {
    flex-direction: row;
  }
}
@media only screen and (width < 900px) {
  .homeContainer .box.mobile-left_900,
  .homeContainer .center-align-box.mobile-left_900,
  .homeContainer .left-align-box.mobile-left_900,
  .homeContainer .right-align-box.mobile-left_900 {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
  }
}
.homeContainer .center-align-box {
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media only screen and (width >= 1100px) {
  .homeContainer .center-align-box {
    margin: 20px auto;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .center-align-box {
    margin: 16px auto;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .center-align-box {
    margin: 12px auto;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .center-align-box {
    margin: 8px auto;
  }
}
.homeContainer .center-align-box.bg-lg-red {
  background-color: var(--brown);
  background: linear-gradient(90deg, var(--pohutukawa) 0%, var(--brown) 23%, var(--persian-red) 51%, var(--brown) 77%, var(--pohutukawa) 100%);
  color: white;
}
.homeContainer .left-align-box {
  justify-content: left;
  text-align: left;
  align-items: flex-start;
}
@media only screen and (width >= 1100px) {
  .homeContainer .left-align-box {
    margin: 20px 20px 0 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .left-align-box {
    margin: 16px 16px 0 16px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .left-align-box {
    margin: 12px 12px 0 12px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .left-align-box {
    margin: 8px 8px 0 8px;
  }
}
@media only screen and (width >= 1100px) {
  .homeContainer .left-align-box.tap {
    margin-left: 180px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .left-align-box.tap {
    margin-left: 140px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .left-align-box.tap {
    margin-left: 100px;
  }
}
@media only screen and (width >= 500px) and (width < 700px) {
  .homeContainer .left-align-box.tap {
    margin-left: 60px;
  }
}
@media only screen and (width >= 0px) and (width < 500px) {
  .homeContainer .left-align-box.tap {
    margin-left: 30px;
    margin-right: -30px;
  }
}
.homeContainer .right-align-box {
  justify-content: right;
  text-align: right;
  align-items: flex-end;
}
@media only screen and (width >= 1100px) {
  .homeContainer .right-align-box {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .right-align-box {
    margin: 0 16px 16px 16px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .right-align-box {
    margin: 0 12px 12px 12px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .right-align-box {
    margin: 0 8px 8px 8px;
  }
}
.homeContainer .linkbutton,
.homeContainer .circle-button {
  display: inline-block;
  z-index: 10;
}
.homeContainer .linkbutton.left,
.homeContainer .circle-button.left {
  justify-content: left;
  display: flex;
}
.homeContainer .linkbutton.right,
.homeContainer .circle-button.right {
  justify-content: right;
  display: flex;
}
.homeContainer .linkbutton a,
.homeContainer .circle-button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-style: italic;
}
.homeContainer .linkbutton a:after,
.homeContainer .circle-button a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.homeContainer .linkbutton:hover a,
.homeContainer .circle-button:hover a {
  padding-right: 25px;
}
.homeContainer .linkbutton:hover a:after,
.homeContainer .circle-button:hover a:after {
  opacity: 1;
  right: 0;
}
.homeContainer .linkbutton {
  width: 300px;
  color: var(--persian-red);
}
.homeContainer .circle-button {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 200px;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}
@media only screen and (width >= 1100px) {
  .homeContainer .circle-button.big {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .circle-button.big {
    width: 160px;
    height: 160px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .circle-button.big {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .circle-button.big {
    width: 100px;
    height: 100px;
  }
}
.homeContainer .circle-button.citrine-white {
  background-color: var(--citrine-white);
  color: var(--persian-red);
}
.homeContainer .circle-button.citrine-white-outline {
  background-color: transparent;
  border-color: var(--brown);
  border-width: 2px;
}
.homeContainer .circle-button.citrine-white-outline:hover {
  border-color: white;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.homeContainer .circle-button a {
  width: 120px;
  top: 0;
  font-size: 20px;
  transition: 0.5s ease;
}
@media only screen and (width >= 1100px) {
  .homeContainer .circle-button a.big {
    width: 180px;
    font-size: 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .circle-button a.big {
    width: 120px;
    font-size: 14px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .circle-button a.big {
    width: 90px;
    font-size: 11px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .circle-button a.big {
    width: 70px;
    font-size: 9px;
  }
}
@media only screen and (width >= 1100px) {
  .homeContainer .circle-button a.big:after {
    top: 95px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .circle-button a.big:after {
    top: 75px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .circle-button a.big:after {
    top: 65px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .circle-button a.big:after {
    top: 55px;
  }
}
.homeContainer .circle-button a:after {
  top: 65px;
  right: 45%;
}
.homeContainer .circle-button:hover a {
  padding-right: 0px;
  top: -10px;
}
.homeContainer .circle-button:hover a:after {
  opacity: 1;
  top: 60px;
  right: 45%;
}
.homeContainer .circle-button:hover a.big {
  top: -10px;
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .circle-button:hover a.big {
    top: -5px;
  }
}
.homeContainer .circle-button:hover a.big:after {
  opacity: 1;
  right: 45%;
}
@media only screen and (width >= 1100px) {
  .homeContainer .circle-button:hover a.big:after {
    top: 90px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .homeContainer .circle-button:hover a.big:after {
    top: 70px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .homeContainer .circle-button:hover a.big:after {
    top: 60px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .homeContainer .circle-button:hover a.big:after {
    top: 50px;
  }
}
.homeContainer .classic-button {
  border: 0;
}
.homeContainer .classic-button a {
  text-decoration: none;
  padding-bottom: 5px;
}
.homeContainer .classic-button.italic {
  font-style: italic;
}
.homeContainer .classic-button.br_10 {
  border-radius: 10px;
}
.homeContainer .classic-button.enlarge {
  transition: 0.3s ease;
}
.homeContainer .classic-button.enlarge:hover {
  scale: 1.1;
}
.homeContainer svg {
  display: flex;
}
.homeContainer svg .svg-primary {
  fill: var(--citrine-white);
  stroke: var(--citrine-white);
  stroke-width: 5px;
}
.homeContainer svg .svg-secondary {
  fill: var(--persian-red);
}
.homeContainer svg .svg-main-theme {
  fill: var(--brown);
}
.homeContainer img {
  margin: 20px;
  z-index: 1;
}
@media only screen and (width >= 0px) and (width < 900px) {
  .homeContainer img {
    margin: 10px;
  }
}
@media only screen and (width < 700px) {
  .homeContainer img {
    margin: 5px;
  }
}
.homeContainer img.w260 {
  width: 260px;
  height: auto;
  border-radius: 10px;
}
.homeContainer form label,
.homeContainer form input {
  margin: 5px;
}
.homeContainer a.inline-block,
.homeContainer div.inline-block,
.homeContainer img.inline-block,
.homeContainer form.inline-block,
.homeContainer input.inline-block,
.homeContainer label.inline-block,
.homeContainer button.inline-block,
.homeContainer .box.inline-block,
.homeContainer .linkbutton.inline-block,
.homeContainer .circle-button.inline-block,
.homeContainer .center-align-box.inline-block,
.homeContainer .left-align-box.inline-block,
.homeContainer .right-align-box.inline-block {
  display: inline-block;
}
.homeContainer a.rotate_-5,
.homeContainer div.rotate_-5,
.homeContainer img.rotate_-5,
.homeContainer form.rotate_-5,
.homeContainer input.rotate_-5,
.homeContainer label.rotate_-5,
.homeContainer button.rotate_-5,
.homeContainer .box.rotate_-5,
.homeContainer .linkbutton.rotate_-5,
.homeContainer .circle-button.rotate_-5,
.homeContainer .center-align-box.rotate_-5,
.homeContainer .left-align-box.rotate_-5,
.homeContainer .right-align-box.rotate_-5 {
  rotate: -5deg;
}
.homeContainer a.rotate_5,
.homeContainer div.rotate_5,
.homeContainer img.rotate_5,
.homeContainer form.rotate_5,
.homeContainer input.rotate_5,
.homeContainer label.rotate_5,
.homeContainer button.rotate_5,
.homeContainer .box.rotate_5,
.homeContainer .linkbutton.rotate_5,
.homeContainer .circle-button.rotate_5,
.homeContainer .center-align-box.rotate_5,
.homeContainer .left-align-box.rotate_5,
.homeContainer .right-align-box.rotate_5 {
  rotate: 5deg;
}
.homeContainer a.margin_5,
.homeContainer div.margin_5,
.homeContainer img.margin_5,
.homeContainer form.margin_5,
.homeContainer input.margin_5,
.homeContainer label.margin_5,
.homeContainer button.margin_5,
.homeContainer .box.margin_5,
.homeContainer .linkbutton.margin_5,
.homeContainer .circle-button.margin_5,
.homeContainer .center-align-box.margin_5,
.homeContainer .left-align-box.margin_5,
.homeContainer .right-align-box.margin_5 {
  margin: 5px;
}
.homeContainer a.margin_10,
.homeContainer div.margin_10,
.homeContainer img.margin_10,
.homeContainer form.margin_10,
.homeContainer input.margin_10,
.homeContainer label.margin_10,
.homeContainer button.margin_10,
.homeContainer .box.margin_10,
.homeContainer .linkbutton.margin_10,
.homeContainer .circle-button.margin_10,
.homeContainer .center-align-box.margin_10,
.homeContainer .left-align-box.margin_10,
.homeContainer .right-align-box.margin_10 {
  margin: 10px;
}
.homeContainer a.no-margin,
.homeContainer div.no-margin,
.homeContainer img.no-margin,
.homeContainer form.no-margin,
.homeContainer input.no-margin,
.homeContainer label.no-margin,
.homeContainer button.no-margin,
.homeContainer .box.no-margin,
.homeContainer .linkbutton.no-margin,
.homeContainer .circle-button.no-margin,
.homeContainer .center-align-box.no-margin,
.homeContainer .left-align-box.no-margin,
.homeContainer .right-align-box.no-margin {
  margin: 0;
}
.homeContainer a.marginx_10,
.homeContainer div.marginx_10,
.homeContainer img.marginx_10,
.homeContainer form.marginx_10,
.homeContainer input.marginx_10,
.homeContainer label.marginx_10,
.homeContainer button.marginx_10,
.homeContainer .box.marginx_10,
.homeContainer .linkbutton.marginx_10,
.homeContainer .circle-button.marginx_10,
.homeContainer .center-align-box.marginx_10,
.homeContainer .left-align-box.marginx_10,
.homeContainer .right-align-box.marginx_10 {
  margin: 0 10px;
}
.homeContainer a.marginx_50,
.homeContainer div.marginx_50,
.homeContainer img.marginx_50,
.homeContainer form.marginx_50,
.homeContainer input.marginx_50,
.homeContainer label.marginx_50,
.homeContainer button.marginx_50,
.homeContainer .box.marginx_50,
.homeContainer .linkbutton.marginx_50,
.homeContainer .circle-button.marginx_50,
.homeContainer .center-align-box.marginx_50,
.homeContainer .left-align-box.marginx_50,
.homeContainer .right-align-box.marginx_50 {
  margin: 0 50px;
}
@media only screen and (width < 700px) {
  .homeContainer a.marginx_50,
  .homeContainer div.marginx_50,
  .homeContainer img.marginx_50,
  .homeContainer form.marginx_50,
  .homeContainer input.marginx_50,
  .homeContainer label.marginx_50,
  .homeContainer button.marginx_50,
  .homeContainer .box.marginx_50,
  .homeContainer .linkbutton.marginx_50,
  .homeContainer .circle-button.marginx_50,
  .homeContainer .center-align-box.marginx_50,
  .homeContainer .left-align-box.marginx_50,
  .homeContainer .right-align-box.marginx_50 {
    margin: 0 20px;
  }
}
.homeContainer a.margin-left_max,
.homeContainer div.margin-left_max,
.homeContainer img.margin-left_max,
.homeContainer form.margin-left_max,
.homeContainer input.margin-left_max,
.homeContainer label.margin-left_max,
.homeContainer button.margin-left_max,
.homeContainer .box.margin-left_max,
.homeContainer .linkbutton.margin-left_max,
.homeContainer .circle-button.margin-left_max,
.homeContainer .center-align-box.margin-left_max,
.homeContainer .left-align-box.margin-left_max,
.homeContainer .right-align-box.margin-left_max {
  margin-left: auto;
}
.homeContainer a.margin-left_max-mobile,
.homeContainer div.margin-left_max-mobile,
.homeContainer img.margin-left_max-mobile,
.homeContainer form.margin-left_max-mobile,
.homeContainer input.margin-left_max-mobile,
.homeContainer label.margin-left_max-mobile,
.homeContainer button.margin-left_max-mobile,
.homeContainer .box.margin-left_max-mobile,
.homeContainer .linkbutton.margin-left_max-mobile,
.homeContainer .circle-button.margin-left_max-mobile,
.homeContainer .center-align-box.margin-left_max-mobile,
.homeContainer .left-align-box.margin-left_max-mobile,
.homeContainer .right-align-box.margin-left_max-mobile {
  margin-left: auto;
}
@media only screen and (width < 900px) {
  .homeContainer a.margin-left_max-mobile,
  .homeContainer div.margin-left_max-mobile,
  .homeContainer img.margin-left_max-mobile,
  .homeContainer form.margin-left_max-mobile,
  .homeContainer input.margin-left_max-mobile,
  .homeContainer label.margin-left_max-mobile,
  .homeContainer button.margin-left_max-mobile,
  .homeContainer .box.margin-left_max-mobile,
  .homeContainer .linkbutton.margin-left_max-mobile,
  .homeContainer .circle-button.margin-left_max-mobile,
  .homeContainer .center-align-box.margin-left_max-mobile,
  .homeContainer .left-align-box.margin-left_max-mobile,
  .homeContainer .right-align-box.margin-left_max-mobile {
    margin-left: 0;
  }
}
.homeContainer a.marginy_10,
.homeContainer div.marginy_10,
.homeContainer img.marginy_10,
.homeContainer form.marginy_10,
.homeContainer input.marginy_10,
.homeContainer label.marginy_10,
.homeContainer button.marginy_10,
.homeContainer .box.marginy_10,
.homeContainer .linkbutton.marginy_10,
.homeContainer .circle-button.marginy_10,
.homeContainer .center-align-box.marginy_10,
.homeContainer .left-align-box.marginy_10,
.homeContainer .right-align-box.marginy_10 {
  margin: 10px 0;
}
.homeContainer a.top_-75,
.homeContainer div.top_-75,
.homeContainer img.top_-75,
.homeContainer form.top_-75,
.homeContainer input.top_-75,
.homeContainer label.top_-75,
.homeContainer button.top_-75,
.homeContainer .box.top_-75,
.homeContainer .linkbutton.top_-75,
.homeContainer .circle-button.top_-75,
.homeContainer .center-align-box.top_-75,
.homeContainer .left-align-box.top_-75,
.homeContainer .right-align-box.top_-75 {
  margin-top: -75px;
}
.homeContainer a.left_-200,
.homeContainer div.left_-200,
.homeContainer img.left_-200,
.homeContainer form.left_-200,
.homeContainer input.left_-200,
.homeContainer label.left_-200,
.homeContainer button.left_-200,
.homeContainer .box.left_-200,
.homeContainer .linkbutton.left_-200,
.homeContainer .circle-button.left_-200,
.homeContainer .center-align-box.left_-200,
.homeContainer .left-align-box.left_-200,
.homeContainer .right-align-box.left_-200 {
  margin-left: -200px;
}
.homeContainer a.left_200,
.homeContainer div.left_200,
.homeContainer img.left_200,
.homeContainer form.left_200,
.homeContainer input.left_200,
.homeContainer label.left_200,
.homeContainer button.left_200,
.homeContainer .box.left_200,
.homeContainer .linkbutton.left_200,
.homeContainer .circle-button.left_200,
.homeContainer .center-align-box.left_200,
.homeContainer .left-align-box.left_200,
.homeContainer .right-align-box.left_200 {
  margin-left: 200px;
}
.homeContainer a.shade,
.homeContainer div.shade,
.homeContainer img.shade,
.homeContainer form.shade,
.homeContainer input.shade,
.homeContainer label.shade,
.homeContainer button.shade,
.homeContainer .box.shade,
.homeContainer .linkbutton.shade,
.homeContainer .circle-button.shade,
.homeContainer .center-align-box.shade,
.homeContainer .left-align-box.shade,
.homeContainer .right-align-box.shade {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.12);
}
.homeContainer a.padding_5,
.homeContainer div.padding_5,
.homeContainer img.padding_5,
.homeContainer form.padding_5,
.homeContainer input.padding_5,
.homeContainer label.padding_5,
.homeContainer button.padding_5,
.homeContainer .box.padding_5,
.homeContainer .linkbutton.padding_5,
.homeContainer .circle-button.padding_5,
.homeContainer .center-align-box.padding_5,
.homeContainer .left-align-box.padding_5,
.homeContainer .right-align-box.padding_5 {
  padding: 5px;
}
.homeContainer a.padding_10,
.homeContainer div.padding_10,
.homeContainer img.padding_10,
.homeContainer form.padding_10,
.homeContainer input.padding_10,
.homeContainer label.padding_10,
.homeContainer button.padding_10,
.homeContainer .box.padding_10,
.homeContainer .linkbutton.padding_10,
.homeContainer .circle-button.padding_10,
.homeContainer .center-align-box.padding_10,
.homeContainer .left-align-box.padding_10,
.homeContainer .right-align-box.padding_10 {
  padding: 10px;
}
.homeContainer a.padding_20,
.homeContainer div.padding_20,
.homeContainer img.padding_20,
.homeContainer form.padding_20,
.homeContainer input.padding_20,
.homeContainer label.padding_20,
.homeContainer button.padding_20,
.homeContainer .box.padding_20,
.homeContainer .linkbutton.padding_20,
.homeContainer .circle-button.padding_20,
.homeContainer .center-align-box.padding_20,
.homeContainer .left-align-box.padding_20,
.homeContainer .right-align-box.padding_20 {
  padding: 20px;
}
.homeContainer a.pohutukawa,
.homeContainer div.pohutukawa,
.homeContainer img.pohutukawa,
.homeContainer form.pohutukawa,
.homeContainer input.pohutukawa,
.homeContainer label.pohutukawa,
.homeContainer button.pohutukawa,
.homeContainer .box.pohutukawa,
.homeContainer .linkbutton.pohutukawa,
.homeContainer .circle-button.pohutukawa,
.homeContainer .center-align-box.pohutukawa,
.homeContainer .left-align-box.pohutukawa,
.homeContainer .right-align-box.pohutukawa {
  background-color: var(--pohutukawa);
  color: white;
}
.homeContainer a.brown,
.homeContainer div.brown,
.homeContainer img.brown,
.homeContainer form.brown,
.homeContainer input.brown,
.homeContainer label.brown,
.homeContainer button.brown,
.homeContainer .box.brown,
.homeContainer .linkbutton.brown,
.homeContainer .circle-button.brown,
.homeContainer .center-align-box.brown,
.homeContainer .left-align-box.brown,
.homeContainer .right-align-box.brown {
  background-color: var(--brown);
  color: white;
}
.homeContainer a.persian-red,
.homeContainer div.persian-red,
.homeContainer img.persian-red,
.homeContainer form.persian-red,
.homeContainer input.persian-red,
.homeContainer label.persian-red,
.homeContainer button.persian-red,
.homeContainer .box.persian-red,
.homeContainer .linkbutton.persian-red,
.homeContainer .circle-button.persian-red,
.homeContainer .center-align-box.persian-red,
.homeContainer .left-align-box.persian-red,
.homeContainer .right-align-box.persian-red {
  background-color: var(--persian-red);
  color: white;
}
.homeContainer a.intergalactic-ray,
.homeContainer div.intergalactic-ray,
.homeContainer img.intergalactic-ray,
.homeContainer form.intergalactic-ray,
.homeContainer input.intergalactic-ray,
.homeContainer label.intergalactic-ray,
.homeContainer button.intergalactic-ray,
.homeContainer .box.intergalactic-ray,
.homeContainer .linkbutton.intergalactic-ray,
.homeContainer .circle-button.intergalactic-ray,
.homeContainer .center-align-box.intergalactic-ray,
.homeContainer .left-align-box.intergalactic-ray,
.homeContainer .right-align-box.intergalactic-ray {
  background-color: var(--intergalactic-ray);
  color: white;
}
.homeContainer a.bravado-red,
.homeContainer div.bravado-red,
.homeContainer img.bravado-red,
.homeContainer form.bravado-red,
.homeContainer input.bravado-red,
.homeContainer label.bravado-red,
.homeContainer button.bravado-red,
.homeContainer .box.bravado-red,
.homeContainer .linkbutton.bravado-red,
.homeContainer .circle-button.bravado-red,
.homeContainer .center-align-box.bravado-red,
.homeContainer .left-align-box.bravado-red,
.homeContainer .right-align-box.bravado-red {
  background-color: var(--bravado-red);
  color: white;
}
.homeContainer a.vallarta-blue,
.homeContainer div.vallarta-blue,
.homeContainer img.vallarta-blue,
.homeContainer form.vallarta-blue,
.homeContainer input.vallarta-blue,
.homeContainer label.vallarta-blue,
.homeContainer button.vallarta-blue,
.homeContainer .box.vallarta-blue,
.homeContainer .linkbutton.vallarta-blue,
.homeContainer .circle-button.vallarta-blue,
.homeContainer .center-align-box.vallarta-blue,
.homeContainer .left-align-box.vallarta-blue,
.homeContainer .right-align-box.vallarta-blue {
  background-color: var(--vallarta-blue);
  color: white;
}
.homeContainer a.horsetail,
.homeContainer div.horsetail,
.homeContainer img.horsetail,
.homeContainer form.horsetail,
.homeContainer input.horsetail,
.homeContainer label.horsetail,
.homeContainer button.horsetail,
.homeContainer .box.horsetail,
.homeContainer .linkbutton.horsetail,
.homeContainer .circle-button.horsetail,
.homeContainer .center-align-box.horsetail,
.homeContainer .left-align-box.horsetail,
.homeContainer .right-align-box.horsetail {
  background-color: var(--horsetail);
  color: white;
}
.homeContainer a.solar-power,
.homeContainer div.solar-power,
.homeContainer img.solar-power,
.homeContainer form.solar-power,
.homeContainer input.solar-power,
.homeContainer label.solar-power,
.homeContainer button.solar-power,
.homeContainer .box.solar-power,
.homeContainer .linkbutton.solar-power,
.homeContainer .circle-button.solar-power,
.homeContainer .center-align-box.solar-power,
.homeContainer .left-align-box.solar-power,
.homeContainer .right-align-box.solar-power {
  background-color: var(--solar-power);
  color: black;
}
.homeContainer a.off-black,
.homeContainer div.off-black,
.homeContainer img.off-black,
.homeContainer form.off-black,
.homeContainer input.off-black,
.homeContainer label.off-black,
.homeContainer button.off-black,
.homeContainer .box.off-black,
.homeContainer .linkbutton.off-black,
.homeContainer .circle-button.off-black,
.homeContainer .center-align-box.off-black,
.homeContainer .left-align-box.off-black,
.homeContainer .right-align-box.off-black {
  background-color: var(--off-black);
  color: white;
}
.homeContainer a.txt-white,
.homeContainer div.txt-white,
.homeContainer img.txt-white,
.homeContainer form.txt-white,
.homeContainer input.txt-white,
.homeContainer label.txt-white,
.homeContainer button.txt-white,
.homeContainer .box.txt-white,
.homeContainer .linkbutton.txt-white,
.homeContainer .circle-button.txt-white,
.homeContainer .center-align-box.txt-white,
.homeContainer .left-align-box.txt-white,
.homeContainer .right-align-box.txt-white {
  color: white;
}
.homeContainer a.txt-black,
.homeContainer div.txt-black,
.homeContainer img.txt-black,
.homeContainer form.txt-black,
.homeContainer input.txt-black,
.homeContainer label.txt-black,
.homeContainer button.txt-black,
.homeContainer .box.txt-black,
.homeContainer .linkbutton.txt-black,
.homeContainer .circle-button.txt-black,
.homeContainer .center-align-box.txt-black,
.homeContainer .left-align-box.txt-black,
.homeContainer .right-align-box.txt-black {
  color: black;
}
.homeContainer a.font-default,
.homeContainer div.font-default,
.homeContainer img.font-default,
.homeContainer form.font-default,
.homeContainer input.font-default,
.homeContainer label.font-default,
.homeContainer button.font-default,
.homeContainer .box.font-default,
.homeContainer .linkbutton.font-default,
.homeContainer .circle-button.font-default,
.homeContainer .center-align-box.font-default,
.homeContainer .left-align-box.font-default,
.homeContainer .right-align-box.font-default {
  font-family: var(--font-body-classic);
}
.homeContainer a.kaiti,
.homeContainer div.kaiti,
.homeContainer img.kaiti,
.homeContainer form.kaiti,
.homeContainer input.kaiti,
.homeContainer label.kaiti,
.homeContainer button.kaiti,
.homeContainer .box.kaiti,
.homeContainer .linkbutton.kaiti,
.homeContainer .circle-button.kaiti,
.homeContainer .center-align-box.kaiti,
.homeContainer .left-align-box.kaiti,
.homeContainer .right-align-box.kaiti {
  font-family: "KaiTi";
}
@media only screen and (width >= 1055px) {
  .homeContainer a.h0,
  .homeContainer div.h0,
  .homeContainer img.h0,
  .homeContainer form.h0,
  .homeContainer input.h0,
  .homeContainer label.h0,
  .homeContainer button.h0,
  .homeContainer .box.h0,
  .homeContainer .linkbutton.h0,
  .homeContainer .circle-button.h0,
  .homeContainer .center-align-box.h0,
  .homeContainer .left-align-box.h0,
  .homeContainer .right-align-box.h0 {
    font-size: 60px;
  }
}
@media only screen and (width >= 770px) and (width < 1055px) {
  .homeContainer a.h0,
  .homeContainer div.h0,
  .homeContainer img.h0,
  .homeContainer form.h0,
  .homeContainer input.h0,
  .homeContainer label.h0,
  .homeContainer button.h0,
  .homeContainer .box.h0,
  .homeContainer .linkbutton.h0,
  .homeContainer .circle-button.h0,
  .homeContainer .center-align-box.h0,
  .homeContainer .left-align-box.h0,
  .homeContainer .right-align-box.h0 {
    font-size: 40px;
  }
}
@media only screen and (width >= 720px) and (width < 770px) {
  .homeContainer a.h0,
  .homeContainer div.h0,
  .homeContainer img.h0,
  .homeContainer form.h0,
  .homeContainer input.h0,
  .homeContainer label.h0,
  .homeContainer button.h0,
  .homeContainer .box.h0,
  .homeContainer .linkbutton.h0,
  .homeContainer .circle-button.h0,
  .homeContainer .center-align-box.h0,
  .homeContainer .left-align-box.h0,
  .homeContainer .right-align-box.h0 {
    font-size: 26px;
  }
}
@media only screen and (width >= 0px) and (width < 720px) {
  .homeContainer a.h0,
  .homeContainer div.h0,
  .homeContainer img.h0,
  .homeContainer form.h0,
  .homeContainer input.h0,
  .homeContainer label.h0,
  .homeContainer button.h0,
  .homeContainer .box.h0,
  .homeContainer .linkbutton.h0,
  .homeContainer .circle-button.h0,
  .homeContainer .center-align-box.h0,
  .homeContainer .left-align-box.h0,
  .homeContainer .right-align-box.h0 {
    font-size: 26px;
  }
}
.homeContainer a.h1,
.homeContainer div.h1,
.homeContainer img.h1,
.homeContainer form.h1,
.homeContainer input.h1,
.homeContainer label.h1,
.homeContainer button.h1,
.homeContainer .box.h1,
.homeContainer .linkbutton.h1,
.homeContainer .circle-button.h1,
.homeContainer .center-align-box.h1,
.homeContainer .left-align-box.h1,
.homeContainer .right-align-box.h1 {
  font-size: 40px;
}
.homeContainer a.h2,
.homeContainer div.h2,
.homeContainer img.h2,
.homeContainer form.h2,
.homeContainer input.h2,
.homeContainer label.h2,
.homeContainer button.h2,
.homeContainer .box.h2,
.homeContainer .linkbutton.h2,
.homeContainer .circle-button.h2,
.homeContainer .center-align-box.h2,
.homeContainer .left-align-box.h2,
.homeContainer .right-align-box.h2 {
  font-size: 36px;
}
.homeContainer a.h3,
.homeContainer div.h3,
.homeContainer img.h3,
.homeContainer form.h3,
.homeContainer input.h3,
.homeContainer label.h3,
.homeContainer button.h3,
.homeContainer .box.h3,
.homeContainer .linkbutton.h3,
.homeContainer .circle-button.h3,
.homeContainer .center-align-box.h3,
.homeContainer .left-align-box.h3,
.homeContainer .right-align-box.h3 {
  font-size: 32px;
}
.homeContainer a.p0,
.homeContainer div.p0,
.homeContainer img.p0,
.homeContainer form.p0,
.homeContainer input.p0,
.homeContainer label.p0,
.homeContainer button.p0,
.homeContainer .box.p0,
.homeContainer .linkbutton.p0,
.homeContainer .circle-button.p0,
.homeContainer .center-align-box.p0,
.homeContainer .left-align-box.p0,
.homeContainer .right-align-box.p0 {
  font-size: 24px;
}
@media only screen and (width < 700px) {
  .homeContainer a.p0,
  .homeContainer div.p0,
  .homeContainer img.p0,
  .homeContainer form.p0,
  .homeContainer input.p0,
  .homeContainer label.p0,
  .homeContainer button.p0,
  .homeContainer .box.p0,
  .homeContainer .linkbutton.p0,
  .homeContainer .circle-button.p0,
  .homeContainer .center-align-box.p0,
  .homeContainer .left-align-box.p0,
  .homeContainer .right-align-box.p0 {
    font-size: 20px;
  }
}
.homeContainer a.p1,
.homeContainer div.p1,
.homeContainer img.p1,
.homeContainer form.p1,
.homeContainer input.p1,
.homeContainer label.p1,
.homeContainer button.p1,
.homeContainer .box.p1,
.homeContainer .linkbutton.p1,
.homeContainer .circle-button.p1,
.homeContainer .center-align-box.p1,
.homeContainer .left-align-box.p1,
.homeContainer .right-align-box.p1 {
  font-size: 20px;
}
.homeContainer a.p2,
.homeContainer div.p2,
.homeContainer img.p2,
.homeContainer form.p2,
.homeContainer input.p2,
.homeContainer label.p2,
.homeContainer button.p2,
.homeContainer .box.p2,
.homeContainer .linkbutton.p2,
.homeContainer .circle-button.p2,
.homeContainer .center-align-box.p2,
.homeContainer .left-align-box.p2,
.homeContainer .right-align-box.p2 {
  font-size: 16px;
}
.homeContainer a.p3,
.homeContainer div.p3,
.homeContainer img.p3,
.homeContainer form.p3,
.homeContainer input.p3,
.homeContainer label.p3,
.homeContainer button.p3,
.homeContainer .box.p3,
.homeContainer .linkbutton.p3,
.homeContainer .circle-button.p3,
.homeContainer .center-align-box.p3,
.homeContainer .left-align-box.p3,
.homeContainer .right-align-box.p3 {
  font-size: 12px;
}
.homeContainer a.bold,
.homeContainer div.bold,
.homeContainer img.bold,
.homeContainer form.bold,
.homeContainer input.bold,
.homeContainer label.bold,
.homeContainer button.bold,
.homeContainer .box.bold,
.homeContainer .linkbutton.bold,
.homeContainer .circle-button.bold,
.homeContainer .center-align-box.bold,
.homeContainer .left-align-box.bold,
.homeContainer .right-align-box.bold {
  font-weight: bold;
}
.homeContainer a.bolder,
.homeContainer div.bolder,
.homeContainer img.bolder,
.homeContainer form.bolder,
.homeContainer input.bolder,
.homeContainer label.bolder,
.homeContainer button.bolder,
.homeContainer .box.bolder,
.homeContainer .linkbutton.bolder,
.homeContainer .circle-button.bolder,
.homeContainer .center-align-box.bolder,
.homeContainer .left-align-box.bolder,
.homeContainer .right-align-box.bolder {
  font-weight: bolder;
}
.homeContainer a.b-top-single,
.homeContainer div.b-top-single,
.homeContainer img.b-top-single,
.homeContainer form.b-top-single,
.homeContainer input.b-top-single,
.homeContainer label.b-top-single,
.homeContainer button.b-top-single,
.homeContainer .box.b-top-single,
.homeContainer .linkbutton.b-top-single,
.homeContainer .circle-button.b-top-single,
.homeContainer .center-align-box.b-top-single,
.homeContainer .left-align-box.b-top-single,
.homeContainer .right-align-box.b-top-single {
  border-top: 1px solid white;
}/*# sourceMappingURL=style.css.map */