@import '@fontsource/fira-mono';
@import url('https://fonts.cdnfonts.com/css/antropos');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

@font-face {
	font-family: HYCuZhuanF;
	src: url('/src/assets/fonts/HYCuZhuanF/HYCuZhuanF.TTF');
}

@font-face {
	font-family: HYZhuanShuF;
	src: url('/src/assets/fonts/HYZhuanShuF/HYZhuanShuF.TTF');
}

@font-face {
	font-family: jdfzhuanf;
	src: url('/src/assets/fonts/jdfzhuanf/JDFZHUANF.TTF');
}

@font-face {
	font-family: HYXingKaiF;
	src: url('/src/assets/fonts/HYXingKaiF/HYXingKaiF.TTF');
}

@font-face {
	font-family: MaShanZhengF;
	src: url('/src/assets/fonts/Ma_Shan_Zheng/MaShanZheng-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--font-body: "antropos", Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body-classic: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	/* font-family: var(--font-body); */
	color: var(--color-text);

	/* Monochromatic scheme */
	--seal-brown: #340D0D;
	--pohutukawa: #681A1A;
	--brown: #9C2727;
	--persian-red: #cd3736;	/* main */
	--roman: #DA6969;
	--kobi: #E69B9B;
	--cherub: #F3CDCD;
	/* tone */
	--chestnut: #BA4949;
	--au-chico: #A75C5B;
	--ferra: #936E6E;
	--grey: #808080;

	/* light and dark */
	--citrine-white: #FDFCF0;
	--satin-linen: #eae6d9;
	--spilled-cappuccino: #e3e0df;
	--thatched-roof: #f0e1c7;
	--tequila: #f6d1a7;
	--brandy: #dab68c;
	--off-black: #303031;

	/*variated gradient scheme */
	--intergalactic-ray: #563a37;
	--bravado-red: #a1524d;

	/* other colors */
	--vallarta-blue: #2f638c;
	--horsetail: #3f5e44;
	--solar-power: #f4b93a;

	/* layout variables */
	--header-height: 50px;
	--footer-height: 50px;
	--sidebar-width: 250px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--citrine-white);
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 17px;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

button {
	border: 0px solid transparent;
	background-color: transparent;
	color: inherit;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* general styling */

.main-box {
  font-family: "微軟正黑體";
  background-color: var(--citrine-white);
  display: flex;
  flex-direction: column;
}
.box,
.center-align-box,
.left-align-box,
.right-align-box {
  display: flex;
  flex-direction: column;
}
.box.vw100,
.center-align-box.vw100,
.left-align-box.vw100,
.right-align-box.vw100 {
  max-width: 100vw;
}
.box.vw70,
.center-align-box.vw70,
.left-align-box.vw70,
.right-align-box.vw70 {
  max-width: 70vw;
}
@media only screen and (width < 700px) {
  .box.vw70,
  .center-align-box.vw70,
  .left-align-box.vw70,
  .right-align-box.vw70 {
    max-width: 90vw;
  }
}
.box.vw50,
.center-align-box.vw50,
.left-align-box.vw50,
.right-align-box.vw50 {
  max-width: 50vw;
}
.box.fd-row,
.center-align-box.fd-row,
.left-align-box.fd-row,
.right-align-box.fd-row {
  flex-direction: row;
}
.box.fd-row-mobile-col_900,
.center-align-box.fd-row-mobile-col_900,
.left-align-box.fd-row-mobile-col_900,
.right-align-box.fd-row-mobile-col_900 {
  flex-direction: row;
}
@media only screen and (width < 900px) {
  .box.fd-row-mobile-col_900,
  .center-align-box.fd-row-mobile-col_900,
  .left-align-box.fd-row-mobile-col_900,
  .right-align-box.fd-row-mobile-col_900 {
    flex-direction: column;
  }
}
.box.fd-row-mobile-col_500,
.center-align-box.fd-row-mobile-col_500,
.left-align-box.fd-row-mobile-col_500,
.right-align-box.fd-row-mobile-col_500 {
  flex-direction: row;
}
@media only screen and (width < 500px) {
  .box.fd-row-mobile-col_500,
  .center-align-box.fd-row-mobile-col_500,
  .left-align-box.fd-row-mobile-col_500,
  .right-align-box.fd-row-mobile-col_500 {
    flex-direction: column;
  }
}
.box.fd-col,
.center-align-box.fd-col,
.left-align-box.fd-col,
.right-align-box.fd-col {
  flex-direction: column;
}
.box.fd-col-mobile-row_500,
.center-align-box.fd-col-mobile-row_500,
.left-align-box.fd-col-mobile-row_500,
.right-align-box.fd-col-mobile-row_500 {
  flex-direction: column;
}
@media only screen and (width < 500px) {
  .box.fd-col-mobile-row_500,
  .center-align-box.fd-col-mobile-row_500,
  .left-align-box.fd-col-mobile-row_500,
  .right-align-box.fd-col-mobile-row_500 {
    flex-direction: row;
  }
}
@media only screen and (width < 900px) {
  .box.mobile-left_900,
  .center-align-box.mobile-left_900,
  .left-align-box.mobile-left_900,
  .right-align-box.mobile-left_900 {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
  }
}
.center-align-box {
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media only screen and (width >= 1100px) {
  .center-align-box {
    margin: 20px auto;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .center-align-box {
    margin: 16px auto;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .center-align-box {
    margin: 12px auto;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .center-align-box {
    margin: 8px auto;
  }
}
.center-align-box.bg-lg-red {
  background-color: var(--brown);
  background: linear-gradient(90deg, var(--pohutukawa) 0%, var(--brown) 23%, var(--persian-red) 51%, var(--brown) 77%, var(--pohutukawa) 100%);
  color: white;
}
.left-align-box {
  justify-content: left;
  text-align: left;
  align-items: flex-start;
}
@media only screen and (width >= 1100px) {
  .left-align-box {
    margin: 20px 20px 0 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .left-align-box {
    margin: 16px 16px 0 16px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .left-align-box {
    margin: 12px 12px 0 12px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .left-align-box {
    margin: 8px 8px 0 8px;
  }
}
@media only screen and (width >= 1100px) {
  .left-align-box.tap {
    margin-left: 180px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .left-align-box.tap {
    margin-left: 140px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .left-align-box.tap {
    margin-left: 100px;
  }
}
@media only screen and (width >= 500px) and (width < 700px) {
  .left-align-box.tap {
    margin-left: 60px;
  }
}
@media only screen and (width >= 0px) and (width < 500px) {
  .left-align-box.tap {
    margin-left: 30px;
    margin-right: -30px;
  }
}
.right-align-box {
  justify-content: right;
  text-align: right;
  align-items: flex-end;
}
@media only screen and (width >= 1100px) {
  .right-align-box {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .right-align-box {
    margin: 0 16px 16px 16px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .right-align-box {
    margin: 0 12px 12px 12px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .right-align-box {
    margin: 0 8px 8px 8px;
  }
}
.linkbutton,
.circle-button {
  display: inline-block;
  z-index: 10;
}
.linkbutton.left,
.circle-button.left {
  justify-content: left;
  display: flex;
}
.linkbutton.right,
.circle-button.right {
  justify-content: right;
  display: flex;
}
.linkbutton a,
.circle-button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-style: italic;
}
.linkbutton a:after,
.circle-button a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.linkbutton:hover a,
.circle-button:hover a {
  padding-right: 25px;
}
.linkbutton:hover a:after,
.circle-button:hover a:after {
  opacity: 1;
  right: 0;
}
.linkbutton {
  width: 300px;
  color: var(--persian-red);
}
.circle-button {
  position: relative;
  border-radius: 200px;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}
@media only screen and (width >= 1100px) {
  .circle-button {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .circle-button {
    width: 140px;
    height: 140px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .circle-button {
    width: 130px;
    height: 130px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (width >= 1100px) {
  .circle-button.big {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .circle-button.big {
    width: 160px;
    height: 160px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .circle-button.big {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button.big {
    width: 100px;
    height: 100px;
  }
}
.circle-button.citrine-white {
  background-color: var(--citrine-white);
  color: var(--persian-red);
}
.circle-button.citrine-white-outline {
  background-color: transparent;
  border-color: var(--brown);
  border-width: 2px;
}
.circle-button.citrine-white-outline:hover {
  border-color: white;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.circle-button a {
  top: 0;
  transition: 0.5s ease;
}
@media only screen and (width >= 1100px) {
  .circle-button a {
    width: 120px;
    font-size: 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .circle-button a {
    width: 120px;
    font-size: 16px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .circle-button a {
    width: 90px;
    font-size: 14px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button a {
    width: 80px;
    font-size: 12px;
  }
}
@media only screen and (width >= 1100px) {
  .circle-button a.big {
    width: 180px;
    font-size: 20px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .circle-button a.big {
    width: 120px;
    font-size: 14px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .circle-button a.big {
    width: 90px;
    font-size: 11px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button a.big {
    width: 70px;
    font-size: 9px;
  }
}
@media only screen and (width >= 1100px) {
  .circle-button a.big:after {
    top: 95px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .circle-button a.big:after {
    top: 75px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .circle-button a.big:after {
    top: 65px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button a.big:after {
    top: 55px;
  }
}
.circle-button a:after {
  top: 60px;
  right: 45%;
}
.circle-button:hover a {
  padding-right: 0px;
  top: -10px;
}
.circle-button:hover a:after {
  opacity: 1;
  top: 55px;
  right: 45%;
}
.circle-button:hover a.big {
  top: -10px;
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button:hover a.big {
    top: -5px;
  }
}
.circle-button:hover a.big:after {
  opacity: 1;
  right: 45%;
}
@media only screen and (width >= 1100px) {
  .circle-button:hover a.big:after {
    top: 90px;
  }
}
@media only screen and (width >= 800px) and (width < 1100px) {
  .circle-button:hover a.big:after {
    top: 70px;
  }
}
@media only screen and (width >= 700px) and (width < 800px) {
  .circle-button:hover a.big:after {
    top: 60px;
  }
}
@media only screen and (width >= 0px) and (width < 700px) {
  .circle-button:hover a.big:after {
    top: 50px;
  }
}
.classic-button {
  border: 0;
}
.classic-button a {
  text-decoration: none;
  padding-bottom: 5px;
}
.classic-button.italic {
  font-style: italic;
}
.classic-button.br_10 {
  border-radius: 10px;
}
.classic-button.enlarge {
  transition: 0.3s ease;
}
.classic-button.enlarge:hover {
  scale: 1.1;
}
svg {
  display: flex;
}
svg .svg-primary {
  fill: var(--citrine-white);
  stroke: var(--citrine-white);
  stroke-width: 5px;
}
svg .svg-secondary {
  fill: var(--persian-red);
}
svg .svg-main-theme {
  fill: var(--brown);
}
img {
  margin: 20px;
  z-index: 1;
}
@media only screen and (width >= 0px) and (width < 900px) {
  img {
    margin: 10px;
  }
}
@media only screen and (width < 700px) {
  img {
    margin: 5px;
  }
}
img.w200 {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
@media only screen and (width < 500px) {
  img.w200 {
    width: 150px;
  }
}
img.w260 {
  width: 260px;
  height: auto;
  border-radius: 10px;
}
img.w400 {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
@media only screen and (width < 500px) {
  img.w400 {
    width: 300px;
  }
}
img.w400-gallery {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
@media only screen and (width >= 950px) and (width < 1400px) {
  img.w400-gallery {
    width: 300px;
  }
}
@media only screen and (width >= 650px) and (width < 950px) {
  img.w400-gallery {
    width: 200px;
  }
}
@media only screen and (width >= 0px) and (width < 650px) {
  img.w400-gallery {
    width: 150px;
  }
}
form label,
form input {
  margin: 5px;
}
a.inline-block,
div.inline-block,
img.inline-block,
form.inline-block,
span.inline-block,
input.inline-block,
label.inline-block,
button.inline-block,
.box.inline-block,
.linkbutton.inline-block,
.circle-button.inline-block,
.center-align-box.inline-block,
.left-align-box.inline-block,
.right-align-box.inline-block {
  display: inline-block;
}
a.rotate_-5,
div.rotate_-5,
img.rotate_-5,
form.rotate_-5,
span.rotate_-5,
input.rotate_-5,
label.rotate_-5,
button.rotate_-5,
.box.rotate_-5,
.linkbutton.rotate_-5,
.circle-button.rotate_-5,
.center-align-box.rotate_-5,
.left-align-box.rotate_-5,
.right-align-box.rotate_-5 {
  rotate: -5deg;
}
a.rotate_5,
div.rotate_5,
img.rotate_5,
form.rotate_5,
span.rotate_5,
input.rotate_5,
label.rotate_5,
button.rotate_5,
.box.rotate_5,
.linkbutton.rotate_5,
.circle-button.rotate_5,
.center-align-box.rotate_5,
.left-align-box.rotate_5,
.right-align-box.rotate_5 {
  rotate: 5deg;
}
a.margin_5,
div.margin_5,
img.margin_5,
form.margin_5,
span.margin_5,
input.margin_5,
label.margin_5,
button.margin_5,
.box.margin_5,
.linkbutton.margin_5,
.circle-button.margin_5,
.center-align-box.margin_5,
.left-align-box.margin_5,
.right-align-box.margin_5 {
  margin: 5px;
}
a.margin_10,
div.margin_10,
img.margin_10,
form.margin_10,
span.margin_10,
input.margin_10,
label.margin_10,
button.margin_10,
.box.margin_10,
.linkbutton.margin_10,
.circle-button.margin_10,
.center-align-box.margin_10,
.left-align-box.margin_10,
.right-align-box.margin_10 {
  margin: 10px;
}
a.no-margin,
div.no-margin,
img.no-margin,
form.no-margin,
span.no-margin,
input.no-margin,
label.no-margin,
button.no-margin,
.box.no-margin,
.linkbutton.no-margin,
.circle-button.no-margin,
.center-align-box.no-margin,
.left-align-box.no-margin,
.right-align-box.no-margin {
  margin: 0;
}
a.marginx_10,
div.marginx_10,
img.marginx_10,
form.marginx_10,
span.marginx_10,
input.marginx_10,
label.marginx_10,
button.marginx_10,
.box.marginx_10,
.linkbutton.marginx_10,
.circle-button.marginx_10,
.center-align-box.marginx_10,
.left-align-box.marginx_10,
.right-align-box.marginx_10 {
  margin: 0 10px;
}
a.marginx_50,
div.marginx_50,
img.marginx_50,
form.marginx_50,
span.marginx_50,
input.marginx_50,
label.marginx_50,
button.marginx_50,
.box.marginx_50,
.linkbutton.marginx_50,
.circle-button.marginx_50,
.center-align-box.marginx_50,
.left-align-box.marginx_50,
.right-align-box.marginx_50 {
  margin: 0 50px;
}
@media only screen and (width < 700px) {
  a.marginx_50,
  div.marginx_50,
  img.marginx_50,
  form.marginx_50,
  span.marginx_50,
  input.marginx_50,
  label.marginx_50,
  button.marginx_50,
  .box.marginx_50,
  .linkbutton.marginx_50,
  .circle-button.marginx_50,
  .center-align-box.marginx_50,
  .left-align-box.marginx_50,
  .right-align-box.marginx_50 {
    margin: 0 20px;
  }
}
a.margin-left_max,
div.margin-left_max,
img.margin-left_max,
form.margin-left_max,
span.margin-left_max,
input.margin-left_max,
label.margin-left_max,
button.margin-left_max,
.box.margin-left_max,
.linkbutton.margin-left_max,
.circle-button.margin-left_max,
.center-align-box.margin-left_max,
.left-align-box.margin-left_max,
.right-align-box.margin-left_max {
  margin-left: auto;
}
a.margin-left_max-mobile,
div.margin-left_max-mobile,
img.margin-left_max-mobile,
form.margin-left_max-mobile,
span.margin-left_max-mobile,
input.margin-left_max-mobile,
label.margin-left_max-mobile,
button.margin-left_max-mobile,
.box.margin-left_max-mobile,
.linkbutton.margin-left_max-mobile,
.circle-button.margin-left_max-mobile,
.center-align-box.margin-left_max-mobile,
.left-align-box.margin-left_max-mobile,
.right-align-box.margin-left_max-mobile {
  margin-left: auto;
}
@media only screen and (width < 900px) {
  a.margin-left_max-mobile,
  div.margin-left_max-mobile,
  img.margin-left_max-mobile,
  form.margin-left_max-mobile,
  span.margin-left_max-mobile,
  input.margin-left_max-mobile,
  label.margin-left_max-mobile,
  button.margin-left_max-mobile,
  .box.margin-left_max-mobile,
  .linkbutton.margin-left_max-mobile,
  .circle-button.margin-left_max-mobile,
  .center-align-box.margin-left_max-mobile,
  .left-align-box.margin-left_max-mobile,
  .right-align-box.margin-left_max-mobile {
    margin-left: 0;
  }
}
a.margin-right_max,
div.margin-right_max,
img.margin-right_max,
form.margin-right_max,
span.margin-right_max,
input.margin-right_max,
label.margin-right_max,
button.margin-right_max,
.box.margin-right_max,
.linkbutton.margin-right_max,
.circle-button.margin-right_max,
.center-align-box.margin-right_max,
.left-align-box.margin-right_max,
.right-align-box.margin-right_max {
  margin-right: auto;
}
a.margin-right_max-mobile,
div.margin-right_max-mobile,
img.margin-right_max-mobile,
form.margin-right_max-mobile,
span.margin-right_max-mobile,
input.margin-right_max-mobile,
label.margin-right_max-mobile,
button.margin-right_max-mobile,
.box.margin-right_max-mobile,
.linkbutton.margin-right_max-mobile,
.circle-button.margin-right_max-mobile,
.center-align-box.margin-right_max-mobile,
.left-align-box.margin-right_max-mobile,
.right-align-box.margin-right_max-mobile {
  margin-right: auto;
}
@media only screen and (width < 900px) {
  a.margin-right_max-mobile,
  div.margin-right_max-mobile,
  img.margin-right_max-mobile,
  form.margin-right_max-mobile,
  span.margin-right_max-mobile,
  input.margin-right_max-mobile,
  label.margin-right_max-mobile,
  button.margin-right_max-mobile,
  .box.margin-right_max-mobile,
  .linkbutton.margin-right_max-mobile,
  .circle-button.margin-right_max-mobile,
  .center-align-box.margin-right_max-mobile,
  .left-align-box.margin-right_max-mobile,
  .right-align-box.margin-right_max-mobile {
    margin-right: 0;
  }
}
a.marginy_10,
div.marginy_10,
img.marginy_10,
form.marginy_10,
span.marginy_10,
input.marginy_10,
label.marginy_10,
button.marginy_10,
.box.marginy_10,
.linkbutton.marginy_10,
.circle-button.marginy_10,
.center-align-box.marginy_10,
.left-align-box.marginy_10,
.right-align-box.marginy_10 {
  margin: 10px 0;
}
a.top_-75,
div.top_-75,
img.top_-75,
form.top_-75,
span.top_-75,
input.top_-75,
label.top_-75,
button.top_-75,
.box.top_-75,
.linkbutton.top_-75,
.circle-button.top_-75,
.center-align-box.top_-75,
.left-align-box.top_-75,
.right-align-box.top_-75 {
  margin-top: -75px;
}
@media only screen and (width < 900px) {
  a.top_-75,
  div.top_-75,
  img.top_-75,
  form.top_-75,
  span.top_-75,
  input.top_-75,
  label.top_-75,
  button.top_-75,
  .box.top_-75,
  .linkbutton.top_-75,
  .circle-button.top_-75,
  .center-align-box.top_-75,
  .left-align-box.top_-75,
  .right-align-box.top_-75 {
    margin-top: -35px;
  }
}
a.top_-100,
div.top_-100,
img.top_-100,
form.top_-100,
span.top_-100,
input.top_-100,
label.top_-100,
button.top_-100,
.box.top_-100,
.linkbutton.top_-100,
.circle-button.top_-100,
.center-align-box.top_-100,
.left-align-box.top_-100,
.right-align-box.top_-100 {
  margin-top: -100px;
}
@media only screen and (width < 900px) {
  a.top_-100,
  div.top_-100,
  img.top_-100,
  form.top_-100,
  span.top_-100,
  input.top_-100,
  label.top_-100,
  button.top_-100,
  .box.top_-100,
  .linkbutton.top_-100,
  .circle-button.top_-100,
  .center-align-box.top_-100,
  .left-align-box.top_-100,
  .right-align-box.top_-100 {
    margin-top: -50px;
  }
}
a.top_-150,
div.top_-150,
img.top_-150,
form.top_-150,
span.top_-150,
input.top_-150,
label.top_-150,
button.top_-150,
.box.top_-150,
.linkbutton.top_-150,
.circle-button.top_-150,
.center-align-box.top_-150,
.left-align-box.top_-150,
.right-align-box.top_-150 {
  margin-top: -150px;
}
@media only screen and (width < 900px) {
  a.top_-150,
  div.top_-150,
  img.top_-150,
  form.top_-150,
  span.top_-150,
  input.top_-150,
  label.top_-150,
  button.top_-150,
  .box.top_-150,
  .linkbutton.top_-150,
  .circle-button.top_-150,
  .center-align-box.top_-150,
  .left-align-box.top_-150,
  .right-align-box.top_-150 {
    margin-top: -75px;
  }
}
a.top_5,
div.top_5,
img.top_5,
form.top_5,
span.top_5,
input.top_5,
label.top_5,
button.top_5,
.box.top_5,
.linkbutton.top_5,
.circle-button.top_5,
.center-align-box.top_5,
.left-align-box.top_5,
.right-align-box.top_5 {
  margin-top: 5px;
}
a.left_-200,
div.left_-200,
img.left_-200,
form.left_-200,
span.left_-200,
input.left_-200,
label.left_-200,
button.left_-200,
.box.left_-200,
.linkbutton.left_-200,
.circle-button.left_-200,
.center-align-box.left_-200,
.left-align-box.left_-200,
.right-align-box.left_-200 {
  margin-left: -200px;
}
a.left_200,
div.left_200,
img.left_200,
form.left_200,
span.left_200,
input.left_200,
label.left_200,
button.left_200,
.box.left_200,
.linkbutton.left_200,
.circle-button.left_200,
.center-align-box.left_200,
.left-align-box.left_200,
.right-align-box.left_200 {
  margin-left: 200px;
}
a.shade,
div.shade,
img.shade,
form.shade,
span.shade,
input.shade,
label.shade,
button.shade,
.box.shade,
.linkbutton.shade,
.circle-button.shade,
.center-align-box.shade,
.left-align-box.shade,
.right-align-box.shade {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.12);
}
a.padding_5,
div.padding_5,
img.padding_5,
form.padding_5,
span.padding_5,
input.padding_5,
label.padding_5,
button.padding_5,
.box.padding_5,
.linkbutton.padding_5,
.circle-button.padding_5,
.center-align-box.padding_5,
.left-align-box.padding_5,
.right-align-box.padding_5 {
  padding: 5px;
}
a.padding_10,
div.padding_10,
img.padding_10,
form.padding_10,
span.padding_10,
input.padding_10,
label.padding_10,
button.padding_10,
.box.padding_10,
.linkbutton.padding_10,
.circle-button.padding_10,
.center-align-box.padding_10,
.left-align-box.padding_10,
.right-align-box.padding_10 {
  padding: 10px;
}
a.padding_20,
div.padding_20,
img.padding_20,
form.padding_20,
span.padding_20,
input.padding_20,
label.padding_20,
button.padding_20,
.box.padding_20,
.linkbutton.padding_20,
.circle-button.padding_20,
.center-align-box.padding_20,
.left-align-box.padding_20,
.right-align-box.padding_20 {
  padding: 20px;
}
a.bg-pohutukawa,
div.bg-pohutukawa,
img.bg-pohutukawa,
form.bg-pohutukawa,
span.bg-pohutukawa,
input.bg-pohutukawa,
label.bg-pohutukawa,
button.bg-pohutukawa,
.box.bg-pohutukawa,
.linkbutton.bg-pohutukawa,
.circle-button.bg-pohutukawa,
.center-align-box.bg-pohutukawa,
.left-align-box.bg-pohutukawa,
.right-align-box.bg-pohutukawa {
  background-color: var(--pohutukawa);
  color: white;
}
a.bg-brown,
div.bg-brown,
img.bg-brown,
form.bg-brown,
span.bg-brown,
input.bg-brown,
label.bg-brown,
button.bg-brown,
.box.bg-brown,
.linkbutton.bg-brown,
.circle-button.bg-brown,
.center-align-box.bg-brown,
.left-align-box.bg-brown,
.right-align-box.bg-brown {
  background-color: var(--brown);
  color: white;
}
a.bg-persian-red,
div.bg-persian-red,
img.bg-persian-red,
form.bg-persian-red,
span.bg-persian-red,
input.bg-persian-red,
label.bg-persian-red,
button.bg-persian-red,
.box.bg-persian-red,
.linkbutton.bg-persian-red,
.circle-button.bg-persian-red,
.center-align-box.bg-persian-red,
.left-align-box.bg-persian-red,
.right-align-box.bg-persian-red {
  background-color: var(--persian-red);
  color: white;
}
a.bg-intergalactic-ray,
div.bg-intergalactic-ray,
img.bg-intergalactic-ray,
form.bg-intergalactic-ray,
span.bg-intergalactic-ray,
input.bg-intergalactic-ray,
label.bg-intergalactic-ray,
button.bg-intergalactic-ray,
.box.bg-intergalactic-ray,
.linkbutton.bg-intergalactic-ray,
.circle-button.bg-intergalactic-ray,
.center-align-box.bg-intergalactic-ray,
.left-align-box.bg-intergalactic-ray,
.right-align-box.bg-intergalactic-ray {
  background-color: var(--intergalactic-ray);
  color: white;
}
a.bg-bravado-red,
div.bg-bravado-red,
img.bg-bravado-red,
form.bg-bravado-red,
span.bg-bravado-red,
input.bg-bravado-red,
label.bg-bravado-red,
button.bg-bravado-red,
.box.bg-bravado-red,
.linkbutton.bg-bravado-red,
.circle-button.bg-bravado-red,
.center-align-box.bg-bravado-red,
.left-align-box.bg-bravado-red,
.right-align-box.bg-bravado-red {
  background-color: var(--bravado-red);
  color: white;
}
a.bg-vallarta-blue,
div.bg-vallarta-blue,
img.bg-vallarta-blue,
form.bg-vallarta-blue,
span.bg-vallarta-blue,
input.bg-vallarta-blue,
label.bg-vallarta-blue,
button.bg-vallarta-blue,
.box.bg-vallarta-blue,
.linkbutton.bg-vallarta-blue,
.circle-button.bg-vallarta-blue,
.center-align-box.bg-vallarta-blue,
.left-align-box.bg-vallarta-blue,
.right-align-box.bg-vallarta-blue {
  background-color: var(--vallarta-blue);
  color: white;
}
a.bg-horsetail,
div.bg-horsetail,
img.bg-horsetail,
form.bg-horsetail,
span.bg-horsetail,
input.bg-horsetail,
label.bg-horsetail,
button.bg-horsetail,
.box.bg-horsetail,
.linkbutton.bg-horsetail,
.circle-button.bg-horsetail,
.center-align-box.bg-horsetail,
.left-align-box.bg-horsetail,
.right-align-box.bg-horsetail {
  background-color: var(--horsetail);
  color: white;
}
a.bg-solar-power,
div.bg-solar-power,
img.bg-solar-power,
form.bg-solar-power,
span.bg-solar-power,
input.bg-solar-power,
label.bg-solar-power,
button.bg-solar-power,
.box.bg-solar-power,
.linkbutton.bg-solar-power,
.circle-button.bg-solar-power,
.center-align-box.bg-solar-power,
.left-align-box.bg-solar-power,
.right-align-box.bg-solar-power {
  background-color: var(--solar-power);
  color: black;
}
a.bg-off-black,
div.bg-off-black,
img.bg-off-black,
form.bg-off-black,
span.bg-off-black,
input.bg-off-black,
label.bg-off-black,
button.bg-off-black,
.box.bg-off-black,
.linkbutton.bg-off-black,
.circle-button.bg-off-black,
.center-align-box.bg-off-black,
.left-align-box.bg-off-black,
.right-align-box.bg-off-black {
  background-color: var(--off-black);
  color: white;
}
a.txt-white,
div.txt-white,
img.txt-white,
form.txt-white,
span.txt-white,
input.txt-white,
label.txt-white,
button.txt-white,
.box.txt-white,
.linkbutton.txt-white,
.circle-button.txt-white,
.center-align-box.txt-white,
.left-align-box.txt-white,
.right-align-box.txt-white {
  color: white;
}
a.txt-black,
div.txt-black,
img.txt-black,
form.txt-black,
span.txt-black,
input.txt-black,
label.txt-black,
button.txt-black,
.box.txt-black,
.linkbutton.txt-black,
.circle-button.txt-black,
.center-align-box.txt-black,
.left-align-box.txt-black,
.right-align-box.txt-black {
  color: black;
}
a.txt-pohutukawa,
div.txt-pohutukawa,
img.txt-pohutukawa,
form.txt-pohutukawa,
span.txt-pohutukawa,
input.txt-pohutukawa,
label.txt-pohutukawa,
button.txt-pohutukawa,
.box.txt-pohutukawa,
.linkbutton.txt-pohutukawa,
.circle-button.txt-pohutukawa,
.center-align-box.txt-pohutukawa,
.left-align-box.txt-pohutukawa,
.right-align-box.txt-pohutukawa {
  color: var(--pohutukawa);
}
a.txt-brown,
div.txt-brown,
img.txt-brown,
form.txt-brown,
span.txt-brown,
input.txt-brown,
label.txt-brown,
button.txt-brown,
.box.txt-brown,
.linkbutton.txt-brown,
.circle-button.txt-brown,
.center-align-box.txt-brown,
.left-align-box.txt-brown,
.right-align-box.txt-brown {
  color: var(--brown);
}
a.txt-persian-red,
div.txt-persian-red,
img.txt-persian-red,
form.txt-persian-red,
span.txt-persian-red,
input.txt-persian-red,
label.txt-persian-red,
button.txt-persian-red,
.box.txt-persian-red,
.linkbutton.txt-persian-red,
.circle-button.txt-persian-red,
.center-align-box.txt-persian-red,
.left-align-box.txt-persian-red,
.right-align-box.txt-persian-red {
  color: var(--persian-red);
}
a.txt-intergalactic-ray,
div.txt-intergalactic-ray,
img.txt-intergalactic-ray,
form.txt-intergalactic-ray,
span.txt-intergalactic-ray,
input.txt-intergalactic-ray,
label.txt-intergalactic-ray,
button.txt-intergalactic-ray,
.box.txt-intergalactic-ray,
.linkbutton.txt-intergalactic-ray,
.circle-button.txt-intergalactic-ray,
.center-align-box.txt-intergalactic-ray,
.left-align-box.txt-intergalactic-ray,
.right-align-box.txt-intergalactic-ray {
  color: var(--intergalactic-ray);
}
a.txt-bravado-red,
div.txt-bravado-red,
img.txt-bravado-red,
form.txt-bravado-red,
span.txt-bravado-red,
input.txt-bravado-red,
label.txt-bravado-red,
button.txt-bravado-red,
.box.txt-bravado-red,
.linkbutton.txt-bravado-red,
.circle-button.txt-bravado-red,
.center-align-box.txt-bravado-red,
.left-align-box.txt-bravado-red,
.right-align-box.txt-bravado-red {
  color: var(--bravado-red);
}
a.txt-vallarta-blue,
div.txt-vallarta-blue,
img.txt-vallarta-blue,
form.txt-vallarta-blue,
span.txt-vallarta-blue,
input.txt-vallarta-blue,
label.txt-vallarta-blue,
button.txt-vallarta-blue,
.box.txt-vallarta-blue,
.linkbutton.txt-vallarta-blue,
.circle-button.txt-vallarta-blue,
.center-align-box.txt-vallarta-blue,
.left-align-box.txt-vallarta-blue,
.right-align-box.txt-vallarta-blue {
  color: var(--vallarta-blue);
}
a.txt-horsetail,
div.txt-horsetail,
img.txt-horsetail,
form.txt-horsetail,
span.txt-horsetail,
input.txt-horsetail,
label.txt-horsetail,
button.txt-horsetail,
.box.txt-horsetail,
.linkbutton.txt-horsetail,
.circle-button.txt-horsetail,
.center-align-box.txt-horsetail,
.left-align-box.txt-horsetail,
.right-align-box.txt-horsetail {
  color: var(--horsetail);
}
a.txt-solar-power,
div.txt-solar-power,
img.txt-solar-power,
form.txt-solar-power,
span.txt-solar-power,
input.txt-solar-power,
label.txt-solar-power,
button.txt-solar-power,
.box.txt-solar-power,
.linkbutton.txt-solar-power,
.circle-button.txt-solar-power,
.center-align-box.txt-solar-power,
.left-align-box.txt-solar-power,
.right-align-box.txt-solar-power {
  color: var(--solar-power);
}
a.txt-off-black,
div.txt-off-black,
img.txt-off-black,
form.txt-off-black,
span.txt-off-black,
input.txt-off-black,
label.txt-off-black,
button.txt-off-black,
.box.txt-off-black,
.linkbutton.txt-off-black,
.circle-button.txt-off-black,
.center-align-box.txt-off-black,
.left-align-box.txt-off-black,
.right-align-box.txt-off-black {
  color: var(--off-black);
}
a.font-default,
div.font-default,
img.font-default,
form.font-default,
span.font-default,
input.font-default,
label.font-default,
button.font-default,
.box.font-default,
.linkbutton.font-default,
.circle-button.font-default,
.center-align-box.font-default,
.left-align-box.font-default,
.right-align-box.font-default {
  font-family: var(--font-body-classic);
}
a.kaiti,
div.kaiti,
img.kaiti,
form.kaiti,
span.kaiti,
input.kaiti,
label.kaiti,
button.kaiti,
.box.kaiti,
.linkbutton.kaiti,
.circle-button.kaiti,
.center-align-box.kaiti,
.left-align-box.kaiti,
.right-align-box.kaiti {
  font-family: "KaiTi";
}
@media only screen and (width >= 1055px) {
  a.h0,
  div.h0,
  img.h0,
  form.h0,
  span.h0,
  input.h0,
  label.h0,
  button.h0,
  .box.h0,
  .linkbutton.h0,
  .circle-button.h0,
  .center-align-box.h0,
  .left-align-box.h0,
  .right-align-box.h0 {
    font-size: 60px;
  }
}
@media only screen and (width >= 770px) and (width < 1055px) {
  a.h0,
  div.h0,
  img.h0,
  form.h0,
  span.h0,
  input.h0,
  label.h0,
  button.h0,
  .box.h0,
  .linkbutton.h0,
  .circle-button.h0,
  .center-align-box.h0,
  .left-align-box.h0,
  .right-align-box.h0 {
    font-size: 40px;
  }
}
@media only screen and (width >= 0px) and (width < 770px) {
  a.h0,
  div.h0,
  img.h0,
  form.h0,
  span.h0,
  input.h0,
  label.h0,
  button.h0,
  .box.h0,
  .linkbutton.h0,
  .circle-button.h0,
  .center-align-box.h0,
  .left-align-box.h0,
  .right-align-box.h0 {
    font-size: 26px;
  }
}
a.h1,
div.h1,
img.h1,
form.h1,
span.h1,
input.h1,
label.h1,
button.h1,
.box.h1,
.linkbutton.h1,
.circle-button.h1,
.center-align-box.h1,
.left-align-box.h1,
.right-align-box.h1 {
  font-size: 40px;
}
a.h2,
div.h2,
img.h2,
form.h2,
span.h2,
input.h2,
label.h2,
button.h2,
.box.h2,
.linkbutton.h2,
.circle-button.h2,
.center-align-box.h2,
.left-align-box.h2,
.right-align-box.h2 {
  font-size: 36px;
}
a.h3,
div.h3,
img.h3,
form.h3,
span.h3,
input.h3,
label.h3,
button.h3,
.box.h3,
.linkbutton.h3,
.circle-button.h3,
.center-align-box.h3,
.left-align-box.h3,
.right-align-box.h3 {
  font-size: 32px;
}
a.p0,
div.p0,
img.p0,
form.p0,
span.p0,
input.p0,
label.p0,
button.p0,
.box.p0,
.linkbutton.p0,
.circle-button.p0,
.center-align-box.p0,
.left-align-box.p0,
.right-align-box.p0 {
  font-size: 24px;
}
@media only screen and (width < 700px) {
  a.p0,
  div.p0,
  img.p0,
  form.p0,
  span.p0,
  input.p0,
  label.p0,
  button.p0,
  .box.p0,
  .linkbutton.p0,
  .circle-button.p0,
  .center-align-box.p0,
  .left-align-box.p0,
  .right-align-box.p0 {
    font-size: 20px;
  }
}
@media only screen and (width >= 500px) and (width < 700px) {
  a.p0,
  div.p0,
  img.p0,
  form.p0,
  span.p0,
  input.p0,
  label.p0,
  button.p0,
  .box.p0,
  .linkbutton.p0,
  .circle-button.p0,
  .center-align-box.p0,
  .left-align-box.p0,
  .right-align-box.p0 {
    font-size: 16px;
  }
}
@media only screen and (width >= 420px) and (width < 500px) {
  a.p0,
  div.p0,
  img.p0,
  form.p0,
  span.p0,
  input.p0,
  label.p0,
  button.p0,
  .box.p0,
  .linkbutton.p0,
  .circle-button.p0,
  .center-align-box.p0,
  .left-align-box.p0,
  .right-align-box.p0 {
    font-size: 15px;
  }
}
@media only screen and (width >= 0px) and (width < 420px) {
  a.p0,
  div.p0,
  img.p0,
  form.p0,
  span.p0,
  input.p0,
  label.p0,
  button.p0,
  .box.p0,
  .linkbutton.p0,
  .circle-button.p0,
  .center-align-box.p0,
  .left-align-box.p0,
  .right-align-box.p0 {
    font-size: 14px;
  }
}
a.p1,
div.p1,
img.p1,
form.p1,
span.p1,
input.p1,
label.p1,
button.p1,
.box.p1,
.linkbutton.p1,
.circle-button.p1,
.center-align-box.p1,
.left-align-box.p1,
.right-align-box.p1 {
  font-size: 20px;
}
a.p2,
div.p2,
img.p2,
form.p2,
span.p2,
input.p2,
label.p2,
button.p2,
.box.p2,
.linkbutton.p2,
.circle-button.p2,
.center-align-box.p2,
.left-align-box.p2,
.right-align-box.p2 {
  font-size: 16px;
}
a.p3,
div.p3,
img.p3,
form.p3,
span.p3,
input.p3,
label.p3,
button.p3,
.box.p3,
.linkbutton.p3,
.circle-button.p3,
.center-align-box.p3,
.left-align-box.p3,
.right-align-box.p3 {
  font-size: 12px;
}
a.bold,
div.bold,
img.bold,
form.bold,
span.bold,
input.bold,
label.bold,
button.bold,
.box.bold,
.linkbutton.bold,
.circle-button.bold,
.center-align-box.bold,
.left-align-box.bold,
.right-align-box.bold {
  font-weight: bold;
}
a.bolder,
div.bolder,
img.bolder,
form.bolder,
span.bolder,
input.bolder,
label.bolder,
button.bolder,
.box.bolder,
.linkbutton.bolder,
.circle-button.bolder,
.center-align-box.bolder,
.left-align-box.bolder,
.right-align-box.bolder {
  font-weight: bolder;
}
a.b-top-single,
div.b-top-single,
img.b-top-single,
form.b-top-single,
span.b-top-single,
input.b-top-single,
label.b-top-single,
button.b-top-single,
.box.b-top-single,
.linkbutton.b-top-single,
.circle-button.b-top-single,
.center-align-box.b-top-single,
.left-align-box.b-top-single,
.right-align-box.b-top-single {
  border-top: 1px solid white;
}
a.no-border-radius,
div.no-border-radius,
img.no-border-radius,
form.no-border-radius,
span.no-border-radius,
input.no-border-radius,
label.no-border-radius,
button.no-border-radius,
.box.no-border-radius,
.linkbutton.no-border-radius,
.circle-button.no-border-radius,
.center-align-box.no-border-radius,
.left-align-box.no-border-radius,
.right-align-box.no-border-radius {
  border-radius: 0;
}